{% extends "template.html" %}
{% block title %}View Entry{% endblock %}

{% block head %}
<script>
    function WetOrDry() {
        if ("{{dive_log['suit_type']}}" == "Dry")
        {
            document.getElementById("wetsuit_text").hidden = "true";
            document.getElementById("wetsuit_data").hidden = "true";
            document.getElementById("drysuit_text").hidden = "";
            document.getElementById("drysuit_data").hidden = "";
        }
        else if ("{{dive_log['suit_type']}}" == "Wet")
        {
            document.getElementById("wetsuit_text").hidden = "";
            document.getElementById("wetsuit_data").hidden = "";
            document.getElementById("drysuit_text").hidden = "true";
            document.getElementById("drysuit_data").hidden = "true";
        }
        else 
        {
            document.getElementById("wetsuit_text").hidden = "true";
            document.getElementById("wetsuit_data").hidden = "true";
            document.getElementById("drysuit_text").hidden = "true";
            document.getElementById("drysuit_data").hidden = "true";
        }
    }
    
    //The following function calculates the Respiratory Minute volume, if all necessary parameters have been entered
    var calculatedRMV
    function RespMinuteVol() {
        bar_in = "{{dive_log['in_pressure']}}"
        bar_out = "{{dive_log['out_pressure']}}"
        avg_depth = "{{dive_log['avg_depth']}}"
        tank_vol = "{{tank_volumes[dive_log['tank_type']]}}"
        dive_time = "{{dive_log['dive_time']}}"
        if (bar_in && bar_out && avg_depth && tank_vol && dive_time) {
            calculatedRMV = (((bar_in - bar_out) * tank_vol) / dive_time ) / ((avg_depth / 10) + 1)   
            calculatedRMV = calculatedRMV.toFixed(1) + "L / min";
        } else {
            calculatedRMV = "Enter all dive parameters to calculate"
        }
        document.getElementById("rmv").innerHTML = calculatedRMV;
    }

    function start() {
        WetOrDry();
        RespMinuteVol();
    }
window.onload = start;
</script>

{% endblock %}

{% block body %}

<h4>View Entry</h4>
<table>
    <tr>
        <td><b>Dive: </b></td>
        <td>{{dive_log["dive_number"]}}</td>
        <td><b>Date: </b></td>
        <td>{{dive_log["dive_date"]}}</td>
    </tr>
    <tr>
        <td><b>Location: </b></td>
        <td>{{dive_log["dive_location"]}}</td>
    </tr>
    <tr>
        <td><b>Time in: </b></td>
        <td>{{dive_log["time_in"]}}</td>
        <td><b>Total Dive Time: </b></td>
        <td>{{dive_log["dive_time"]}} mins</td>
    </tr>
    <tr>
        <td><b>Max depth: </b></td>
        <td>{{dive_log["max_depth"]}} metres</td>
        <td><b>Average depth: </b></td>
        <td>{{dive_log["avg_depth"]}} metres</td>
    </tr>
    <tr>
        <td><b>Visibility: </b></td>
        <td>{{dive_log["visibility"]}} metres</td>
    </tr>
    <tr>
        <td><b>Water Temp.: </b></td>
        <td>{{dive_log["water_temp"]}}</td>
    </tr>
    <tr>
        <td><b>Tank(s): </b></td>
        <td>{{scuba_tanks[dive_log["tank_type"]]}}</td>
        <td><b>Hood: </b></td>
        <td>{{dive_log["hood"]}}</td>
    </tr>
    <tr>
        <td><b>Tank pressure (start): </b></td>
        <td>{{dive_log["in_pressure"]}} bar</td>
        <td><b>Suit type: </b></td>
        <td>{{dive_log["suit_type"]}}</td>
    </tr>
    <tr>
        <td><b>Tank pressure (end): </b></td>
        <td>{{dive_log["out_pressure"]}} bar</td>
        <td id="wetsuit_text"><b>Wetsuit Thickness: </b></td>
        <td id="wetsuit_data">{{dive_log["wetsuit_thickness"]}}</td>
        <td id="drysuit_text"><b>Undergarment: </b></td>
        <td id="drysuit_data">{{dive_log["ds_undergarment"]}}</td>
    </tr>
    <tr>
        <td><b>RMV: </b></td>
        <td id="rmv"></td>
        <td><b>Lead: </b></td>
        <td>{{dive_log["lead_weight"]}}</td>
    </tr>
    <tr>
        <td><b>Buddy: </b></td>
        <td>{{dive_log["buddy"]}}</td>
    </tr>
</table>
<b>Notes: </b>
<div class="viewNotes">{{dive_log['dive_notes']}}</div>
<br>
<table>
    <tr>
        <form action="/editButton" method="post">
        <input name="id" type="hidden" value="{{ dive_log.log_id }}">
        <input type="submit" value="Edit Entry">
        </form>
    </tr>
    <tr>
        <form onsubmit="return confirm('Do you really want to delete this entry?');" action="/delButton" method="post">
        <input name="id" type="hidden" value="{{ dive_log.log_id }}">
        <input type="submit" value="Delete Entry">
        </form>
    </tr>
</table>
{% endblock %}

