{% extends "template.html" %}
{% block title %}View Entry{% endblock %}

{% block head %}
<script>
    function WetOrDry() {
        if ("{{dive_log['suit_type']}}" == "Dry")
        {
            document.getElementById("wetsuit_text").hidden = "true";
            document.getElementById("wetsuit_data").hidden = "true";
            document.getElementById("drysuit_text").hidden = "";
            document.getElementById("drysuit_data").hidden = "";
        }
        else if ("{{dive_log['suit_type']}}" == "Wet")
        {
            document.getElementById("wetsuit_text").hidden = "";
            document.getElementById("wetsuit_data").hidden = "";
            document.getElementById("drysuit_text").hidden = "true";
            document.getElementById("drysuit_data").hidden = "true";
        }
        else 
        {
            document.getElementById("wetsuit_text").hidden = "true";
            document.getElementById("wetsuit_data").hidden = "true";
            document.getElementById("drysuit_text").hidden = "true";
            document.getElementById("drysuit_data").hidden = "true";
        }
    }
    function start() {
        WetOrDry();
    }
window.onload = start;
</script>

{% endblock %}

{% block body %}

<h4>View Entry</h4>
<table>
    <tr>
        <td><b>Dive: </b></td>
        <td>{{dive_log["dive_number"]}}</td>
        <td><b>Tank pressure (start): </b></td>
        <td>{{dive_log["in_pressure"]}} bar</td>
    </tr>
    <tr>
        <td><b>Date: </b></td>
        <td>{{dive_log["dive_date"]}}</td>
        <td><b>Tank pressure (end): </b></td>
        <td>{{dive_log["out_pressure"]}} bar</td>
    </tr>
    <tr>
        <td><b>Location: </b></td>
        <td>{{dive_log["dive_location"]}}</td>
        <td><b>RMV: </b></td>
        <td>to be calculated</td>
    </tr>
    <tr>
        <td><b>Time in: </b></td>
        <td>{{dive_log["time_in"]}}</td>
    </tr>
    <tr>
        <td><b>Total Dive Time: </b></td>
        <td>{{dive_log["dive_time"]}} mins</td>
    </tr>
    <tr>
        <td><b>Max depth: </b></td>
        <td>{{dive_log["max_depth"]}} metres</td>
        <td><b>Average depth: </b></td>
        <td>{{dive_log["avg_depth"]}} metres</td>
    </tr>
    <tr>
        <td><b>Visibility: </b></td>
        <td>{{dive_log["visibility"]}} metres</td>
    </tr>
    <tr>
        <td><b>Water Temp.: </b></td>
        <td>{{dive_log["water_temp"]}}</td>
    </tr>
    <tr>
        <td><b>Tank(s): </b></td>
        <td>{{dive_log["tank_type"]}}</td>
        <td><b>Hood: </b></td>
        <td>{{dive_log["hood"]}}</td>
    </tr>
    <tr>
        <td><b>Visibility: </b></td>
        <td>{{dive_log["visibility"]}}</td>
        <td><b>Suit type: </b></td>
        <td>{{dive_log["suit_type"]}}</td>
    </tr>
    <tr>
        <td><b>Visibility: </b></td>
        <td>{{dive_log["visibility"]}}</td>
        <td id="wetsuit_text"><b>Wetsuit Thickness: </b></td>
        <td id="wetsuit_data">{{dive_log["wetsuit_thickness"]}}</td>
        <td id="drysuit_text"><b>Undergarment: </b></td>
        <td id="drysuit_data">{{dive_log["ds_undergarment"]}}</td>
    </tr>
    <tr>
        <td><b>Buddy: </b></td>
        <td>{{dive_log["buddy"]}}</td>
        <td><b>Lead: </b></td>
        <td>{{dive_log["lead_weight"]}}</td>
    </tr>
    <tr>
        <td><b>Notes: </b></td>
        <td>{{dive_log['dive_notes']}}</td>
    </tr>
</table>

<form action="/editButton" method="post">
    <input name="id" type="hidden" value="{{ dive_log.log_id }}">
    <input type="submit" value="Edit Entry">
</form>
{% endblock %}

