{% extends "template.html" %}
{% block title %} Home {% endblock %}
{% block body %}

<div>
    <h1>Welcome back, {{ user }}</h1>
</div>
<div class="content">You have logged {{dive_count}} dives.</div>
<div class="containerTable">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Dive ID</th>
          <th scope="col">Date</th>
          <th scope="col">Location</th>
          <th scope="col">Max Depth</th>
          <th scope="col">Dive Time</th>
          <th scope="col">Buddy</th>
          <th></th>
        </tr>
      </thead>
        {% for dive in dive_log %}
        <tr>
          <td>{{dive.dive_number}}</td>
          <td>{{dive.dive_date}}</td>
          <td>{{dive.dive_location}}</td>
          <td>{{dive.max_depth}}</td>
          <td>{{dive.dive_time}}</td>
          <td>{{dive.buddy}}</td>
          <td>
            <form action="/view" method="post">
                <input name="id" type="hidden" value="{{ dive.log_id }}">
                <input type="submit" value="View">
            </form>
        </td>
        </tr>
        {% endfor %}
      </table> 
</div>
{% endblock %}