{% extends "template.html" %}
{% block title %} Create a new entry {% endblock %}
{% block body %}
<h1>New Log Entry</h1>
<p></p>
    <form action="/new" method="post">
        <input class="form-control mx-auto w-auto"type="date" id="date" name="date">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="location" name="location" placeholder="Dive Location" type="text">
        <h4>Time in: (24h and 12h both work)</h4> <input class="form-control mx-auto w-auto"id="time_in" name="time_in" type="time">
        <input autocomplete="off" class="form-control mx-auto smallText" id="dive_time" name="dive_time" placeholder="Dive Time (minutes)" type="number" min="0">
        <input autocomplete="off" class="form-control mx-auto smallText" id="max_depth" name="max_depth" placeholder="Max Depth" type="number" min="0">
        <input autocomplete="off" class="form-control mx-auto smallText" id="avg_depth" name="avg_depth" placeholder="Avg Depth" type="number" min="0">
        <input autocomplete="off" class="form-control mx-auto smallText" id="visibility" name="visibility" placeholder="Visibility (m)" type="number" min="0">
        <select name="tank_type" id="tank_type" class="form-control mx-auto w-auto">
            <option value="" selected>Pick a tank type</option>
            <option value="ali80">Aluminium 80 (11.1L)</option>
            <option value="steel12">Steel 12L</option>
            <option value="steel15">Steel 15L</option>
            <option value="dbl12">Double 12</option>
            <option value="dbl_al80">Double Ali 80</option>
        </select>
        <h4>Tank pressures:</h4>
        <input autocomplete="off" class="form-control mx-auto smallText" id="in_pressure" name="in_pressure" placeholder="In" type="number" min="0">
        <input autocomplete="off" class="form-control mx-auto smallText" id="out_ressure" name="out_pressure" placeholder="Out" type="number" min="0">
        <input autocomplete="off" class="form-control mx-auto smallText" id="water_temp" name="water_temp" placeholder="Water Temp (C)" type="number" min="0">
        <input autocomplete="off" class="form-control mx-auto smallText" id="leadweight" name="lead_weight" placeholder="Lead in kg" type="number" min="0" step="0.5">
        <select name="suit_type" id="suit_type" class="form-control mx-auto w-auto">
            <option value="" selected hidden disabled>Wet or Dry Suit?</option>
            <option value="dry">Dry</option>
            <option value="wet">Wet</option>
        </select>
        <input autocomplete="off" class="form-control mx-auto smallText" id="wetsuit_thickness" name="wetsuit_thickness" placeholder="Wetsuit Thickness" type="number" min="0">
        <input autocomplete="off" class="form-control mx-auto smallText" id="hood" name="hood" placeholder="Hood Thickness" type="number" min="0">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="ds_undergarment" name="ds_undergarment" placeholder="Drysuit undergarment" type="text">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="buddy" name="buddy" placeholder="Buddy" type="text">
        <textarea name="notes" autocomplete="off" id="notes" placeholder="General Notes" class="myNotes form-control mx-auto"></textarea>
        <button class="form-control mx-auto w-auto" type="submit">Submit</button>
    </form>
{% endblock %}